.panda-bg-bridesmaid{
    background-color: #FEEAE9;
}
.panda-bg-athens-gray{
    background-color: #F8F9FA;
}
.panda-bg-rose{
    background-color: #FF1D75;
}
.categories img{
    width: 100px;
}
.panda-btn{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    color: #ffffff;
    border-radius: 5px;
}
.panda-btn:hover{
    color: #fbcadc;
}